/* Artoo Doc Stylesheet */
.artoo-logo {
  margin-bottom: 0;
  display: inline;
  width: 35px;
  height: 35px;
}

.theme-base-artoo .sidebar,
.theme-base-artoo .sidebar-toggle:active,
.theme-base-artoo #sidebar-checkbox:checked ~ .sidebar-toggle {
  background-color: #1f5baa;
}
.theme-base-artoo .container a,
.theme-base-artoo .sidebar-toggle,
.theme-base-artoo .related-posts li a:hover {
  color: #1f5baa;
}

.artoo-bookmark-highlight {
  text-align: center;
}

.artoo-bookmark-highlight a {
  background-color: #1f5baa;
  color: white;
  padding: 0 10px;
  padding-bottom: 3px;
  border-radius: 5px;
}

.artoo-bookmark-highlight a:hover {
  text-decoration: none;
}

.sidebar-nav, .sidebar-nav-item {
  border: none;
}

.wrap {
  padding-right: 14rem;
}

.container {
  margin: 0 auto;
}

.sidebar-toggle {
  display: none;
}
