<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p align="center">
      <img width="148" height="148" src="https://raw.githubusercontent.com/medialab/artoo/master/chrome/icons/artoo-icon.svg" />
    </p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.id == 'home' %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>
    <a class="sidebar-nav-item{% if page.id == 'quick_start' %} active{% endif %}" href="{{ site.baseurl }}/quick_start">Quick Start</a>
    <a class="sidebar-nav-item{% if page.id == 'methods' %} active{% endif %}" href="{{ site.baseurl }}/methods">Methods</a>
    <p class="sidebar-separator"></p>
    <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
    <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
  </nav>

<!--   <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div> -->
</div>
