<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p align="center">
      <a href='{{ site.bookmarklet }}'>
        <img alt="artoo" width="148" height="148" src="{{ site.baseurl }}/public/img/artoo-icon.svg" />
      </a>
<!--       To install artoo, just drag and drop the above logo onto your bookmark bar. -->
    </p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.id == 'home' %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>
    <a class="sidebar-nav-item{% if page.id == 'quick_start' %} active{% endif %}" href="{{ site.baseurl }}/quick_start">Quick Start</a>
    <p class="sidebar-separator"></p>
    <a class="sidebar-nav-item{% if page.id == 'methods' %} active{% endif %}" href="{{ site.baseurl }}/methods">Methods</a>
    <a class="sidebar-nav-item{% if page.id == 'settings' %} active{% endif %}" href="{{ site.baseurl }}/settings">Settings</a>
    <a class="sidebar-nav-item{% if page.id == 'grunt' %} active{% endif %}" href="{{ site.baseurl }}/grunt">Grunt task</a>
    <p class="sidebar-separator"></p>
    <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
    <a class="sidebar-nav-item" href="{{ site.medialab.url }}"> médialab Sciences-po</a>
    <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
  </nav>

<!--   <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div> -->
</div>
