<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body class="theme-base-artoo">

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <!-- <img class="artoo-logo" src="https://raw.githubusercontent.com/medialab/artoo/master/chrome/icons/icon48.png" /> -->
          <h3 style="display: inline;" class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>
    <script type="text/javascript" src="{{ site.baseurl }}/public/js/jquery-2.1.1.min.js"></script>
    {% if page.id != 'home' and page.id != 'quick_start' %}
      <script type="text/javascript" src="{{ site.baseurl }}/public/dist/artoo-latest.min.js"></script>
    {% endif %}

    {% if page.id == 'home' %}
      <script type="text/javascript" src="{{ site.baseurl }}/public/js/log.min.js"></script>
      <script id="artoo_injected_script" type="text/javascript" src="{{ site.baseurl }}/public/dist/artoo-latest.min.js" settings='{"autoInit":false}'></script>
      <script type="text/javascript" src="{{ site.baseurl }}/public/js/tutorial.js"></script>
    {% endif %}

    <script type="text/javascript">

      // Preventing default on bookmark
      $('#bookmarklet').click(function(e) {
        e.preventDefault();
      });
    </script>
  </body>
</html>
